files/xu/CHILD_pipeline_Execute_single_XU_extraction.json
{
    "name": "CHILD_pipeline_Execute_single_XU_extraction",
    "properties": {
        "activities": [
            {
                "name": "XU_START_JOB",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": {
                        "value": "@concat(pipeline().globalParameters.p_global_XU_HOST,'?name=',pipeline().parameters.p_extractionName_from_Master,'&wait=false')",
                        "type": "Expression"
                    },
                    "connectVia": {
                        "referenceName": "SelfhostedIRT1",
                        "type": "IntegrationRuntimeReference"
                    },
                    "method": "GET"
                }
            },
            {
                "name": "TIMESTAMP",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "XU_START_JOB",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "variableName": "v_TIMESTAMP",
                    "value": {
                        "value": "@activity('XU_START_JOB').output.ADFWebActivityResponseHeaders['X-XU-Timestamp']",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "IS_JOB_RUNNING",
                "type": "Until",
                "dependsOn": [
                    {
                        "activity": "TIMESTAMP",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@not(equals('Running', variables('v_JOB_STATUS')))",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "Wait x seconds",
                            "type": "Wait",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "waitTimeInSeconds": 5
                            }
                        },
                        {
                            "name": "CHECK_XU_JOB_STATUS",
                            "type": "WebActivity",
                            "dependsOn": [
                                {
                                    "activity": "Wait x seconds",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat(pipeline().globalParameters.p_global_XU_HOST,'status/?name=',pipeline().parameters.p_extractionName_from_Master,'&timestamp=',variables('v_TIMESTAMP'))",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "SelfhostedIRT1",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "GET"
                            }
                        },
                        {
                            "name": "JOB_STATUS",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "CHECK_XU_JOB_STATUS",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v_JOB_STATUS",
                                "value": {
                                    "value": "@activity('CHECK_XU_JOB_STATUS').output.response",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "timeout": "7.00:00:00"
                }
            },
            {
                "name": "IfCondition",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "IS_JOB_RUNNING",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals('FinishedErrors', variables('v_JOB_STATUS'))",
                        "type": "Expression"
                    },
                    "ifTrueActivities": [
                        {
                            "name": "XU_Get_Extraction_Log",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": {
                                    "value": "@concat(pipeline().globalParameters.p_global_XU_HOST,'log/?req_type=extraction&name=',pipeline().parameters.p_extractionName_from_Master,'&timestamp=',variables('v_TIMESTAMP'))",
                                    "type": "Expression"
                                },
                                "connectVia": {
                                    "referenceName": "SelfhostedIRT1",
                                    "type": "IntegrationRuntimeReference"
                                },
                                "method": "GET"
                            }
                        },
                        {
                            "name": "Copy Extraction Log to Blob",
                            "type": "Copy",
                            "dependsOn": [
                                {
                                    "activity": "Set variable_XU_Log",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "7.00:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "additionalColumns": [
                                        {
                                            "name": "log",
                                            "value": {
                                                "value": "@variables('v_Log')",
                                                "type": "Expression"
                                            }
                                        }
                                    ],
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "emptyXULog",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "XU_Log",
                                    "type": "DatasetReference",
                                    "parameters": {
                                        "Sink_log_name": {
                                            "value": "@concat(pipeline().parameters.p_extractionName_from_Master,'__',replace(replace(variables('v_TIMESTAMP'),':',''),'.',''))",
                                            "type": "Expression"
                                        }
                                    }
                                }
                            ]
                        },
                        {
                            "name": "Set variable_XU_Log",
                            "type": "SetVariable",
                            "dependsOn": [
                                {
                                    "activity": "XU_Get_Extraction_Log",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "variableName": "v_Log",
                                "value": {
                                    "value": "@activity('XU_Get_Extraction_Log').output.response",
                                    "type": "Expression"
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "p_extractionName_from_Master": {
                "type": "string",
                "defaultValue": "Demo_Uni_LU"
            }
        },
        "variables": {
            "v_TIMESTAMP": {
                "type": "String"
            },
            "v_JOB_STATUS": {
                "type": "String"
            },
            "v_Log": {
                "type": "String"
            }
        },
        "folder": {
            "name": "yw/working/DEMO_Run_XU_from_ADF"
        },
        "annotations": [],
        "lastPublishTime": "2022-12-21T15:40:57Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}