files/xu/CHILD_pipeline_Execute_single_XU_extraction.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"WW_xtractstorage":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/CHILD_pipeline_Execute_single_XU_extraction')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"XU_START_JOB","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat(pipeline().globalParameters.p_global_XU_HOST,'?name=',pipeline().parameters.p_extractionName_from_Master,'&wait=false')","type":"Expression"},"connectVia":{"referenceName":"SHIR-on-TS-ROD","type":"IntegrationRuntimeReference"},"method":"GET","headers":{}}},{"name":"TIMESTAMP","type":"SetVariable","dependsOn":[{"activity":"XU_START_JOB","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"v_TIMESTAMP","value":{"value":"@activity('XU_START_JOB').output.response","type":"Expression"}}},{"name":"IS_JOB_RUNNING","type":"Until","dependsOn":[{"activity":"TIMESTAMP","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@not(equals('Running', variables('v_JOB_STATUS')))","type":"Expression"},"activities":[{"name":"Wait x seconds","type":"Wait","dependsOn":[],"userProperties":[],"typeProperties":{"waitTimeInSeconds":5}},{"name":"CHECK_XU_JOB_STATUS","type":"WebActivity","dependsOn":[{"activity":"Wait x seconds","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat(pipeline().globalParameters.p_global_XU_HOST,'status/?name=',pipeline().parameters.p_extractionName_from_Master,'&timestamp=',variables('v_TIMESTAMP'))","type":"Expression"},"connectVia":{"referenceName":"SHIR-on-TS-ROD","type":"IntegrationRuntimeReference"},"method":"GET","headers":{}}},{"name":"JOB_STATUS","type":"SetVariable","dependsOn":[{"activity":"CHECK_XU_JOB_STATUS","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"v_JOB_STATUS","value":{"value":"@activity('CHECK_XU_JOB_STATUS').output.response","type":"Expression"}}}],"timeout":"7.00:00:00"}},{"name":"IfCondition","type":"IfCondition","dependsOn":[{"activity":"IS_JOB_RUNNING","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@equals('FinishedErrors', variables('v_JOB_STATUS'))","type":"Expression"},"ifTrueActivities":[{"name":"XU_Get_Extraction_Log","type":"WebActivity","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"url":{"value":"@concat(pipeline().globalParameters.p_global_XU_HOST,'log/?req_type=extraction&name=',pipeline().parameters.p_extractionName_from_Master,'&timestamp=',variables('v_TIMESTAMP'))","type":"Expression"},"connectVia":{"referenceName":"SHIR-on-TS-ROD","type":"IntegrationRuntimeReference"},"method":"GET","headers":{}}},{"name":"Copy Extraction Log to Blob","type":"Copy","dependsOn":[{"activity":"Set variable_XU_Log","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","additionalColumns":[{"name":"log","value":{"value":"@variables('v_Log')","type":"Expression"}}],"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobStorageWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"emptyXULog","type":"DatasetReference","parameters":{}}],"outputs":[{"referenceName":"XU_Log","type":"DatasetReference","parameters":{"Sink_log_name":{"value":"@concat(pipeline().parameters.p_extractionName_from_Master,'__',replace(replace(variables('v_TIMESTAMP'),':',''),'.',''))","type":"Expression"}}}]},{"name":"Set variable_XU_Log","type":"SetVariable","dependsOn":[{"activity":"XU_Get_Extraction_Log","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"v_Log","value":{"value":"@activity('XU_Get_Extraction_Log').output.response","type":"Expression"}}}]}}],"parameters":{"p_extractionName_from_Master":{"type":"string","defaultValue":"MARA2"}},"variables":{"v_TIMESTAMP":{"type":"String"},"v_JOB_STATUS":{"type":"String"},"v_Log":{"type":"String"}},"folder":{"name":"yw/working/DEMO_Run_XU_from_ADF"},"annotations":[],"lastPublishTime":"2021-05-26T15:26:56Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/emptyXULog')]","[concat(variables('factoryId'), '/datasets/XU_Log')]"]},{"name":"[concat(parameters('factoryName'), '/emptyXULog')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('WW_xtractstorage')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":"do_not_delete.txt","folderPath":"ADF_log","container":"yw-container"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/XU_Log')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('WW_xtractstorage')]","type":"LinkedServiceReference"},"parameters":{"Sink_log_name":{"type":"string","defaultValue":"XU_log"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","fileName":{"value":"@concat(dataset().Sink_log_name,'.txt')","type":"Expression"},"folderPath":"ADF_log","container":"yw-container"},"columnDelimiter":",","escapeChar":"\\","quoteChar":"\""},"schema":[{"type":"String"},{"type":"String"}]},"dependsOn":[]}]}